html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../bg.jpg);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
}

main {
    width: 80%;
    background: rgba(255,255,255,0.85);
    margin: 75px;
    padding: 10px;
}

main > section {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}

.container > section {
    margin: 50px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Arvo', sans-serif;
}

h1 {
    font-size: 60px;
    margin-bottom: 0;
}

h2 {
    font-size: 45px;
    margin-bottom: 1px;
}

a {
    color: black;
}
a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
}

header {
    font-size: 14px;
    margin-left: 2%;
}

header p {
    margin: 0;
}

footer {
    margin-left: 2%;
    margin-top: 100px;
    margin-bottom: 25px;
}
